{% extends 'exams/common.html' %}
{% block content %}



    <a href='{{ facoltà.id }}/delete/'><button style="float: right; margin-right: 20px" type="button" class="btn btn-outline-primary">Aggiorna le materie</button></a>

    <a href='{{ facoltà.id }}/deleteExam/'><button style="float: left; margin-left: 20px" type="button" class="btn btn-outline-primary">Aggiorna Date</button></a>

<br><br><br>
    <div class="container" style="margin-left: 510px">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a href="{{ facoltà.id }}/1">
                            <h5>
                                1° Anno Primo Semestre
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-left: 510px">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a href="{{ facoltà.id }}/2">
                            <h5>
                                1° Anno Secondo Semestre
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-left: 510px">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a href="{{ facoltà.id }}/3">
                            <h5>
                                2° Anno Primo Semestre
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-left: 510px">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a href="{{ facoltà.id }}/4">
                            <h5>
                                2° Anno Secondo Semestre
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% if facoltà.anno == 3 %}
    <div class="container" style="margin-left: 510px">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a href="{{ facoltà.id }}/5">
                            <h5>
                                3° Anno Primo Semestre
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-left: 510px">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a href="{{ facoltà.id }}/6">
                            <h5>
                                3° Anno Secondo Semestre
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}



{% endblock %}