{% extends 'exams/common.html' %}


{% block content %}

    <h4 style="text-align:center">Guarda tutti gli esami di {{ facoltà.nome }}:</h4>


    <br><br><br>


    <style type="text/css">
    .wrapper {
        text-align: center;
    }
    .wrapper ul {
        display: inline-block;
        margin: 4px;
        padding: 0;
        /* For IE, the outcast */
        zoom:1;
        *display: inline;
        list-style-type: none
    }
    .wrapper li {
        float: left;
        padding: 2px 10px;
        border: 2px solid black;
    }
</style>



    <br><br><br>

    {% for d in date %}
        {% for e in exam %}
            {% if d.exam.nome == e.nome and e.anno == anno and e.semestre == semestre and d.exam.facoltà.id == e.facoltà.id %}
                <div class="wrapper">
                    <ul>
                        <li>{{ d.exam.nome }} {{ d.data }} {{ d.exam.facoltà }}</li>
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}





{% endblock %}